<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/main']">Main page</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/profile']">My profile</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/friends']">Friends</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/logout']">Logout</a>
    </div>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <p>Yours friends:</p>
      <div class="p-3 mb-2 bg-success text-white text-center" *ngFor="let friend of friends" (click)="removeFriend(friend)">
        {{friend}}
      </div>
      <form>
        <div class="form-group">
          <input type="text" placeholder="type new friend's name" [(ngModel)]="model.new" name="new" id="new"/>
        </div>
        <input class="btn btn-outline-success" type="submit" value="add" (click)="addFriend()">
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
