<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/main']">Main page</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/profile']">My profile</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/friends']">Friends</a>
    </div>
  </li>
  <li class="nav-item">
    <div class="alert alert-success" role="alert">
      <a class="nav-link alert-link" [routerLink]="['/logout']">Logout</a>
    </div>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <p (click)="changeSettings()" id="banner" class="text-success">{{banner}}</p>
      <div>
        <form>
          <div class="form-group">
    <textarea class="form-control" placeholder="Want to drop a line?" [(ngModel)]="model.new" name="new" id="new" rows="9" cols="30">
    </textarea>
          </div>
          <input type="submit" value="tweet" id="twt_btn" (click)="tweet()" class="btn btn-success"/>
        </form>
      </div>
      <br/>
      <p (click)="fetchMyTweets()" class="text-success">your tweets:</p>
      <div class="border border-success tweet" *ngFor="let tweet of tweets">
        <p class="text-left text-success">{{tweet.owner}}:</p>
        <p>{{tweet.tweet}}</p>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

