<ul id="lst">
  <li><a [routerLink] = "['/main']">Main page</a></li>
  <li><a [routerLink] = "['/profile']">My profile</a></li>
  <li><a [routerLink] = "['/settings']">Settings</a></li>
  <li><a>|</a></li>
  <li (click)="logout()"><a [routerLink] = "['/logout']">Logout</a></li>
</ul>
<br/>
<div class="tweet">
  <form>
    <textarea placeholder="Want to drop a line?" [(ngModel)]="model.new" name="new" id="new" rows="9" cols="30">
    </textarea>
    <br/>
    <input type="submit" value="tweet" id="twt_btn" (click)="tweet()"/>
  </form>
</div>
<p (click)="fetchMyTweets()">Click to see your tweets:</p>
<div class="tweet" *ngFor="let tweet of tweets">
  <p class="owner">{{tweet.owner}}:</p>
  <p class="twt_txt">{{tweet.tweet}}</p>
</div>
