body {
  text-align: center;
}

ul {
  display: inline;
  border: 5px #369 solid;
  border-radius: 20px;
  background-color: #10beff;
}


li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Comic Sans MS";
  font-size: larger;
}

a:hover {
  color: #369;
}
